<head>
    <meta charset="UTF-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="<%= url %>/style.css" />
    <title>Login</title>
</head>

<body>
    <div class="center">
        <h1>DIN DAGENS BILD</h1>
        <div class="imgbox2">
            <img src="<%= picurl %>" />
            <a class="delete" href="/delete">TA BORT</a>
        </div>
        <a class="logout" href="/logout">LOGGA UT</a>
    </div>
</body>
