<head>
    <meta charset="UTF-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="<%= url %>/style.css" />
    <title>Login</title>
</head>

<body>
    <div class="login-page">
        <div class="form">
            <form
                class="register-form"
                id="signupform"
                method="POST"
                action="/signup"
            >
                <div id="error"></div>
                <input
                    id="email2"
                    type="text"
                    name="email2"
                    placeholder="e-postadress"
                />
                <input
                    id="pass2"
                    type="password"
                    name="password2"
                    placeholder="lösenord"
                />
                <button onclick="signup()">registrera</button>
                <p class="message">
                    Redan registrerad? <a href="#">Logga in</a>
                </p>
            </form>
            <form
                id="loginform"
                class="login-form"
                method="POST"
                action="/loginuser"
            >
                <div id="error2"><%= error %></div>
                <input
                    id="email"
                    name="email"
                    type="text"
                    placeholder="e-postadress"
                />
                <input
                    id="pass"
                    name="password"
                    type="password"
                    placeholder="lösenord"
                />
                <button onclick="login()">logga in</button>
                <p class="message">
                    Inte registrerad? <a href="#">Skapa konto</a>
                </p>
            </form>
        </div>
    </div>
    <script>
        $(".message a").click(function() {
            $("form").animate({ height: "toggle", opacity: "toggle" }, "slow");
        });

        function emailIsValid(email) {
            return /\S+@\S+\.\S+/.test(email);
        }

        function login() {
            event.preventDefault();
            var email = $("#email").val();
            if (!emailIsValid(email)) {
                document.getElementById("error2").innerHTML =
                    "Ogiltig epost-adress";
                return;
            }
            var password = $("#pass").val();
            if (password.length < 8) {
                document.getElementById("error2").innerHTML =
                    "Lösenord måste vara minst 8 tecken";
                return;
            }
            document.getElementById("loginform").submit();
        }

        function signup() {
            event.preventDefault();
            var email = $("#email2").val();
            if (!emailIsValid(email)) {
                document.getElementById("error").innerHTML =
                    "Ogiltig epost-adress";
                return;
            }
            var password = $("#pass2").val();
            if (password.length < 8) {
                document.getElementById("error").innerHTML =
                    "Lösenord måste vara minst 8 tecken";
                return;
            }
            document.getElementById("signupform").submit();
        }
    </script>
</body>
