<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>pic of the day</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="<%= url %>/style.css" />
    </head>

    <body>
        <div class="center">
            <h1>Verifiera dig</h1>
            <p>Vi skickade en verifikations länk till dig per e-post</p>
        </div>
        <script></script>
    </body>
</html>
